
{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ErasmuStory</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">
    
    <link href="{% static 'blog/main.css' %}" type="text/css" rel="stylesheet">

  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

   
  </head>
  <body>
  


    <header>
      <!--- Navbar --->
      <nav class="navbar navbar-expand-lg">
       <h4  style="color: white;font-family:Bradley Hand, cursive;font-size:24px"> <a  class="navbar-brand text-white" style="font-family:Bradley Hand, cursive;font-size:24px"  href="#"><i class="fad fa-globe-europe"></i></a>Erasmu<a style="color:white;font-family:Brush Script MT, Brush Script Std, cursive;font-size:42px">S</a>tory</h4>
        <div class="container">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          
            <ul class="navbar-nav ml-left">
                <li class="nav-item active pl-1">
                  <a class="nav-link" href="{% url 'blog-home' %}"><i class="fa fa-home fa-fw mr-1"></i>Anasayfa</a>
                </li>
                <li class="nav-item  pl-1">
                  <a class="nav-link" href="#"><i class="fa fa-th-list fa-fw mr-1"></i>Blog</a>
                </li>
                <li class="nav-item pl-1">
                  <a class="nav-link" href="#"><i class="fa fa-info-circle fa-fw mr-1"></i>Hakkımızda</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

              <li class="nav-item pl-1">
                <a class="nav-link" href="#"><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>İletişim</a>
              </li>
              <li class="nav-item pl-1">
                <a class="nav-link" href="#"><i class="fa fa-user-plus fa-fw mr-1"></i>Kayıt Ol</a>
              </li>
              <li class="nav-item pl-1">
                <a class="nav-link" href="#"><i class="fa fa-sign-in fa-fw mr-1"></i>Oturum Aç</a>
              </li>
            </ul>
          
        </div>
      </nav>
      <!--# Navbar #-->
    


{% block content %}

{% endblock %}

  </body>
</html>

