 {% extends 'base.html' %}
 {% load static %}


 {% block header-photo %}
 <header class="masthead" style="background-image: url('/static/boostrap/img/contact-bg.jpg')">
  {% endblock %}

  {% block header-info %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Biz Kimiz?</h1>
            <span class="subheading">Erasmus veya Diğer Yurtdışı Hikayelerinizi Paylaşabileceğiniz Topluluk</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}


{% block content %}

    <head>
      <link href="{% static 'blog/main.css' %}" type="text/css" rel="stylesheet">
    </head>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <p>Erasmus veya yurtdışı hikayelerinizi bizimle paylaşabileceğiniz ve başklarının hikaylerini okuyabileceğiniz bir web sitesidir.</p>
        <p></p>
      </div>
    </div>
  </div>

  <hr>
    
{% endblock %}