{% extends "base.html" %}
{% load static %}

{% block content %}

    <head>
      <link href="{% static 'blog/main.css' %}" type="text/css" rel="stylesheet">
    </head>


<div class="row-custom">
  <div class="column-custom">
    <div class="card-profile first-image">
      <img src="{% static 'blog/images/pp1.png' %}" class="profile-image" alt="Profile Picture1">
      <h1>Hasan</h1>
      <p>&nbsp;My ambition is to reach the very top of my profession and to work with other leading developers in this field. On a personal level I am able to both give and take feedback. Furthermore I am committed to constantly improving myself by learning new technologies and frameworks.
      </p>          
    </div>
  </div>
  <div class="column-custom">
    <div class="card-profile second-image">
      <img src="{% static 'blog/images/travelling.jpg' %}" class="profile-image" alt="Profile Picture2">
      <h1 style="text-align: center;">Sena</h1>
      <p>&nbsp;My ambition is to reach the very top of my profession and to work with other leading developers in this field. On a personal level I am able to both give and take feedback. Furthermore I am committed to constantly improving myself by learning new technologies and frameworks.
      </p>          
    </div>
  </div>
  <div class="column-custom">
    <div class="card-profile third-image">
      <img src="{% static 'blog/images/pp2.jpg' %}" class="profile-image" alt="Profile Picture3">
      <h1>Caner</h1>
      <p>&nbsp;My ambition is to reach the very top of my profession and to work with other leading developers in this field. On a personal level I am able to both give and take feedback. Furthermore I am committed to constantly improving myself by learning new technologies and frameworks.
      </p>          
    </div>
  </div>
</div>

    
{% endblock %}