
{% extends "base.html" %}
{% load static %}


{% block content %}

    <main class="container">

   
      <br>
      <div  style="border-radius: 180px ;background-color: rgba(255, 252, 252, 0.5);" class="starter-template text-center py-5 px-3" >
        <h3 class="page-header" style="font-family: cursive;" >HİKAYENİ PAYLAŞ BİZE KATIL!</h3>
        <p  style="font-family: cursive;font-size:18px" > Bizimle Erasmus veya diğer yurtdışı deneyimlerini paylaşabilirsin.</p>
      </div>
      <br>


      {{ form.media }}
{% for field in form %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label"> {{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                    {% endfor %}
                {% else %}
                    {% if field.help_text %}
                        <span class="text-success"><b>{{ field.help_text }}</b></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

      <div  class="row row-cols-1 row-cols-md-4 g-4">
        {% for post in posts %}

        <div class="col-lg-3">

          <div  class="card">
             {% if post.get_image %}
           <center>  <img style="width: 250px;height:220px" src='{{ post.get_image |safe }}' alt="{{ post.title |safe }}"></center>
             
             {% endif %}
            <div  class="card-body" style="height: 300px;">
             <a style="color: black;" href="#"> <h4 style="text-align: center;font-family:Georgia, 'Times New Roman', Times, serif"class="card title">{{post.title |safe}}</h4></a>

           <a style="color: black;" href="#">   <h5 style="text-align: center;font-family:cursive">Yazar:{{post.author|safe}}</h5></a>
           <a style="color: black;" href="#">   <h5 style="text-align: center;font-family:cursive" >Ülke:{{post.content_country|safe}}</h5></a>
           <a style="color: black;" href="#">   <h5 style="text-align: center;font-family:cursive" >Şehir:{{post.content_city|safe}}</h5></a>

              <!-- <p class="card-text">{{post.content_visit |safe}}</p> -->
            </div>
          </div>
          <br>


        </div>
        {% endfor %}

      </div>

    </main><!-- /.container -->
  </header>
 
{% endblock %}
