
{% extends "base.html" %}
{% load static %}


{% block content %}

    <main class="container">

   
      <br>
      <div style="border-radius: 180px ;background-color: rgba(255, 252, 252, 0.5);" class="starter-template text-center py-5 px-3" >
        <h1 class="page-header" style="font-family: cursive;" >HİKAYENİ PAYLAŞ BİZE KATIL!</h1>
        <p  style="font-family: cursive;font-size:18px" > Bizimle Erasmus veya diğer yurtdışı deneyimlerini paylaşabilirsin.</p>
      </div>
      <br>


      {{ form.media }}
{% for field in form %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label"> {{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                    {% endfor %}
                {% else %}
                    {% if field.help_text %}
                        <span class="text-success"><b>{{ field.help_text }}</b></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
    {% for post in posts %}

      <div  class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
             {% if post.get_image %}
            <img class="card-img-top" src='{{ post.get_image |safe }}' alt="{{ post.title |safe }}">
             
             {% endif %}
            <div class="card-body">
              <h4 style="text-align: center;">{{post.title |safe}}</h4>

              <h5 style="text-align: center;" class="card-title">{{post.author|safe}}</h5>

              <p class="card-text">{{post.content_visit |safe}}</p>
            </div>
          </div>
        </div>
        
      </div>
    {% endfor %}

    </main><!-- /.container -->
  </header>
 
{% endblock %}
