 {% extends 'base.html' %}
 {% load static %}

 {% block header-photo %}
 <header class="masthead" style="background-image: url('static/boostrap/img/about-bg.jpg')">
  {% endblock %}

  {% block header-info %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Hikayeni Paylaş Bize Katıl</h1>
          <span class="subheading">Erasmus veya diğer yurtdışı hikayelerinizi,deneyimlerinizi bizimle paylaşabilirsiniz</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

 {% block content %}

  <!-- Main Content -->
{{ form.media }}
{% for field in form %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label"> {{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                    {% endfor %}
                {% else %}
                    {% if field.help_text %}
                        <span class="text-success"><b>{{ field.help_text }}</b></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div id="{{post.id}}" class="carousel slide" data-ride="{{post.image}}">
  <ol class="carousel-indicators">
    <li data-target="#{{post.id}}" data-slide-to="0" class="active"></li>
    <li data-target="#{{post.id}}" data-slide-to="1"></li>
    <li data-target="#{{post.id}}" data-slide-to="2"></li>
    <li data-target="#{{post.id}}" data-slide-to="3"></li>
    <li data-target="#{{post.id}}" data-slide-to="4"></li>
    


  </ol>
  <br>
 


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}

        <div class="post-preview">
          <a href="{% url 'post_list' post.slug %}">
            <h2 class="post-title">
             {{post.title}}
            </h2>
           
            <h3 class="post-subtitle">
             Ülke:{{post.content_country}}
            </h3>
            <h3 class="post-subtitle">
              Şehir:{{post.content_city}}
             </h3>
          </a>
          <p class="post-meta">Yazar
            <a href="#">{{post.author}}</a>
           {{post.date_posted}}</p>
        </div>
        <hr>
{% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

</body>

</html>

{% endblock %}