{% extends 'base.html' %}
{% load static %}

{% block header-photo %}
 <header class="masthead" style="background-image: url('static/boostrap/img/home-bg.jpg')">
  {% endblock %}
{% block header-info %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>Haydi Hikayeni Yaz!</h1>
        <span class="subheading">Aşağıdaki Form Üzerinden Hikayeni Yazabilirsin</span>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock %}

{% block content %}

    


 <div style class="row">
        <div class="col-lg-12 col-lg-offset-1">
        
            <form action="{% url 'post_create' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
 
                {{ form.media }}
<div class="form-group ">
    <center> <h1  style="font-family:cursive;" class="header">SENİN HİKAYEN NE?</h1> </center>
    <br>
     {% for field in form %}
        <div  class="container" >
            <div class="form-group">
            <div class="col-lg-5">
                <label  style="font-size:24px;font-family: Georgia, 'Times New Roman', Times, serif;" class="page-header"> {{ field.label | safe | linebreaks}}</label>
                 {{field}}
                 

               
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                    {% endfor %}
                {% else %}
                    {% if field.help_text %}
                        <span class="text-success"><b>{{ field.help_text }}</b></span>
                    {% endif %}
                {% endif %}
            </div>
    </div>
    
</div>    
{% endfor %}

<div class="container" >
    <input  type="submit" value="Kaydet" class="btn pull-left  btn-sm btn-success">
</div>

</form>
                
        </div>
    </div>
</div>     

{% endblock %}