{% extends "base.html" %}
{% load static %}

{% block content%}
   <div class="row">
    <div class="col-lg-12">

        <div class="col-lg-8 col-lg-offset-2">
           
            <div class="row">
                <div class="col-lg-12">
                    {% for post in posts %}
                    <h4></h2> <a style="color: black;" href="#"><span>Yazar:{{post.author}}- Hikaye:{{post.title}} </span></a>
                       <center> <img src="{{ post.get_image }}" style="width: 250;height:210px" alt="{{post.title}}"></center> 
                    </h4>
                     
                   {% endfor %}
                 
                </div>
            </div>
           

         
        </div>
    </div>
{% endblock%}


